@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; }

header {
  margin: 35px 20%;
  height: 136px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  header .superior {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px; }
  header .menu {
    padding: 0 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }

.medium-font {
  font-size: 14px; }

.bold {
  font-weight: bold; }

.big-font {
  font-size: 24px; }

.bigger-font {
  font-size: 48px; }

.red-font {
  color: red; }

.banner-container {
  width: 100%;
  height: 545px; }
  .banner-container .banner {
    background-image: url("../imagens//banner-principal-1.png");
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative; }
    .banner-container .banner .conteudo-banner {
      margin: 7% 20%;
      position: absolute;
      width: 30%;
      height: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .banner-container .banner .conteudo-banner .subtítulo-banner {
        margin: 40px 0;
        color: #777777; }
      .banner-container .banner .conteudo-banner .botao-banner {
        justify-self: baseline;
        width: 40%;
        height: 40px;
        background-color: #333333;
        color: white;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center; }
        .banner-container .banner .conteudo-banner .botao-banner .conteudo-botao-banner {
          position: absolute;
          width: 90%;
          height: 30px;
          border: 0.5px solid #777777;
          display: flex;
          align-items: center;
          justify-content: center; }

.conteudo {
  margin: 70px 254px;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .conteudo .tendencias {
    display: flex;
    flex-direction: column;
    height: 600px; }
    .conteudo .tendencias .tendencias-titulo {
      align-self: center; }
    .conteudo .tendencias .tendencias-imagens {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 600px;
      position: relative;
      border-bottom: 0.2px solid #dbdada;
      margin-top: 30px; }
      .conteudo .tendencias .tendencias-imagens .tendencia-container {
        width: 50%;
        margin: 2% 2%;
        height: 220px;
        align-self: center; }
        .conteudo .tendencias .tendencias-imagens .tendencia-container .tendencia-item {
          width: 100%;
          height: 100%;
          background-position: center;
          background-size: cover;
          position: relative;
          display: flex;
          flex-direction: column; }
          .conteudo .tendencias .tendencias-imagens .tendencia-container .tendencia-item .tendencia-titulo {
            padding-top: 20px;
            padding-left: 20px; }
          .conteudo .tendencias .tendencias-imagens .tendencia-container .tendencia-item .tendencia-ver {
            padding-top: 10px;
            padding-left: 20px;
            color: #777777; }
      .conteudo .tendencias .tendencias-imagens .tendencia-container2 {
        width: 40%;
        margin: 2% 2%;
        height: 473px;
        align-self: center; }
        .conteudo .tendencias .tendencias-imagens .tendencia-container2 .tendencia-item {
          width: 100%;
          height: 100%;
          background-position: center;
          background-size: cover;
          position: relative;
          display: flex;
          flex-direction: column; }
          .conteudo .tendencias .tendencias-imagens .tendencia-container2 .tendencia-item .tendencia-titulo {
            padding-top: 20px;
            padding-left: 20px; }
          .conteudo .tendencias .tendencias-imagens .tendencia-container2 .tendencia-item .tendencia-ver {
            padding-top: 10px;
            padding-left: 20px;
            color: #777777; }
