header{
    margin: 35px 254px;
    height: 136px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .superior{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 16px;
    }

    .menu{
        padding: 0 100px;;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.medium-font{
    font-size: 14px;
}

.big-font{
    font-size: 24px;
}

.imagem{
    background-image: url('./imagens/banner-principal-1.png');
    width: 400px;
    height: 400px;
}

.conteudo{
    margin: 70px 254px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .tendencias{
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 400px;

        .test{
            width: 100px;
        }
    }
}

.meu{
    background-image: url('../imagens/tendencia-3.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width:200px;
    height: 200px;
}